.p-align-content--stretch {
  align-content: stretch;
}
.p-align-content--center {
  align-content: center;
}
.p-align-content--flex-start {
  align-content: flex-start;
}
.p-align-content--flex-end {
  align-content: flex-end;
}
.p-align-content--space-between {
  align-content: space-between;
}
.p-align-content--space-around {
  align-content: space-around;
}
.p-align-content--initial {
  align-content: initial;
}
.p-align-content--inherit {
  align-content: inherit;
}
