.p-float--left {
  float: left;
}
.p-float--right {
  float: right;
}
.p-float--none {
  float: none;
}
.p-float--inline-start {
  float: inline-start;
}
.p-float--inline-end {
  float: inline-end;
}
