.p-justify-self--auto {
  justify-self: auto;
}
.p-justify-self--normal {
  justify-self: normal;
}
.p-justify-self--start {
  justify-self: start;
}
.p-justify-self--end {
  justify-self: end;
}
.p-justify-self--flex-start {
  justify-self: flex-start;
}
.p-justify-self--flex-end {
  justify-self: flex-end;
}
.p-justify-self--self-start {
  justify-self: self-start;
}
.p-justify-self--self-end {
  justify-self: self-end;
}
.p-justify-self--center {
  justify-self: center;
}
.p-justify-self--left {
  justify-self: left;
}
.p-justify-self--right {
  justify-self: right;
}
.p-justify-self--baselinefirst baseline {
  justify-self: baselinefirst baseline;
}
.p-justify-self--stretch {
  justify-self: stretch;
}
.p-justify-self--safe {
  justify-self: safe;
}
.p-justify-self--unsafe {
  justify-self: unsafe;
}
