.p-object-fit--contain {
  object-fit: contain;
}
.p-object-fit--cover {
  object-fit: cover;
}
.p-object-fit--fill {
  object-fit: fill;
}
.p-object-fit--none {
  object-fit: none;
}
.p-object-fit--scale-down {
  object-fit: scale-down;
}
