.u-align-items--stretch {
  align-items: stretch;
}
.u-align-items--center {
  align-items: center;
}
.u-align-items--flex-start {
  align-items: flex-start;
}
.u-align-items--flex-end {
  align-items: flex-end;
}
.u-align-items--baseline {
  align-items: baseline;
}
.u-align-items--initial {
  align-items: initial;
}
.u-align-items--inherit {
  align-items: inherit;
}
