.u-align-self--auto {
  align-self: auto;
}
.u-align-self--stretch {
  align-self: stretch;
}
.u-align-self--center {
  align-self: center;
}
.u-align-self--flex-start {
  align-self: flex-start;
}
.u-align-self--flex-end {
  align-self: flex-end;
}
.u-align-self--baseline {
  align-self: baseline;
}
.u-align-self--initial {
  align-self: initial;
}
.u-align-self--inherit {
  align-self: inherit;
}
