.u-flex-flow--flex-direction {
  flex-flow: flex-direction;
}
.u-flex-flow--flex-wrap {
  flex-flow: flex-wrap;
}
.u-flex-flow--initial {
  flex-flow: initial;
}
.u-flex-flow--inherit {
  flex-flow: inherit;
}
