.u-overflow--visible {
  overflow: visible;
}
.u-overflow--hidden {
  overflow: hidden;
}
.u-overflow--scroll {
  overflow: scroll;
}
.u-overflow--auto {
  overflow: auto;
}
.u-overflow--overlay {
  overflow: overlay;
}
.u-overflow---moz-scrollbars-none {
  overflow: -moz-scrollbars-none;
}
.u-overflow---moz-scrollbars-horizontal {
  overflow: -moz-scrollbars-horizontal;
}
.u-overflow---moz-scrollbars-vertical {
  overflow: -moz-scrollbars-vertical;
}
.u-overflow---moz-hidden-unscrollable {
  overflow: -moz-hidden-unscrollable;
}
