.u-place-self--auto {
  place-self: auto;
}
.u-place-self--normal {
  place-self: normal;
}
.u-place-self--self-start {
  place-self: self-start;
}
.u-place-self--self-end {
  place-self: self-end;
}
.u-place-self--flex-start {
  place-self: flex-start;
}
.u-place-self--flex-end {
  place-self: flex-end;
}
.u-place-self--center {
  place-self: center;
}
.u-place-self--baselinefirst baseline {
  place-self: baselinefirst baseline;
}
.u-place-self--stretch {
  place-self: stretch;
}
